*.sln
*.userprefs
*.csproj
*.unityproj
*.pidb
*.svd
*.suo
*.user
*.booproj
*.exe

src/IHM/Library
src/IHM/Library/metadata/
src/IHM/Library/FailedAssetImports.txt
src/IHM/Library/cache/
src/IHM/Library/previews/
src/IHM/Library/ScriptAssemblies
/obj
/Temp
ExportedObj/
Temp/

*~
*.swp
*.Trashes

ehthumbs.db
Thumbs.db

.DS_Store
.DS_Store?
